// nav component
.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    width: 30vw;
    max-width: 280px;
    min-width: 220px;
    background-color: $neutral;
}

.nav-logo {
    padding: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    display: block;
    text-align: center;

    img {
        width: 40%;
        max-width: 120px;
        max-height: 100px;
    }
}

.nav-link {
    position: relative;
    width: 100%;
    padding-inline: 1.8rem;
    margin-block: 1rem;

    a {
        width: 100%;
        display: block;
        padding: 1rem;
        border-radius: $border-radius;
        color: $text;
        transition: background $transition-speed;

        svg {
            vertical-align: text-bottom;
            margin-right: .5rem;
        }

        &.router-link-active {
            background-color: $background-2;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: .6rem;
                background-color: $primary;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                animation: left-slide-in $animation-speed;
            }
        }
    }

    &:hover a {
        background-color: $background-2;
    }
}