@use "variables";

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;

    .input-button {
        margin-top: 2rem;
    }
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    padding: variables.$form-element-padding;
    min-width: fit-content;
    width: 100%;
    padding: .9rem .8rem;
    margin-bottom: 1rem;
    background-color: variables.$background;
    border-radius: variables.$border-radius;
    border-width: 1px;
    border-style: solid;
    border-color: variables.$border;
    color: variables.$text;
    font-size: .9rem;
    display: block;

    &:focus, &:focus-visible, &:active {
        outline-color: variables.$form-element-focus-border-color;
        outline-width: 1px;
        outline-style: solid;
    }
}

select {
    -webkit-border-radius: 0;
}

textarea {
    resize: vertical;
    vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
    color: variables.$neutral;
    font-size: variables.$btn-font-size;
    background-color: variables.$primary;
    padding: .6rem 1.5rem;
    border-radius: variables.$border-radius;
    transition: ease background-color variables.$transition-speed;

    &:focus, &:focus-visible, &:active {
        outline-color: variables.$form-element-focus-border-color;
        outline-width: 1px;
        outline-style: solid;
    }

    &:disabled {
        background-color: variables.$primary-2;
        cursor: not-allowed;
    }
}

label {
    display: block;
    margin-bottom: .5rem;
    margin-left: .2rem;
}


.error {

    input, textarea {
        outline-color: variables.$error;
        outline-width: 1px;
        outline-style: solid;
    }
}