@use "variables";

// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
    font-family: variables.$headings-font-family;
    font-weight: bold;
    margin: 0 0 0.5em;
    color: variables.$headings-color;
}

h1, .h1 {
    font-size: variables.$h1-font-size;
    margin-bottom: variables.$h-margin-bottom+rem;
}

h2, .h2 {
    font-size: variables.$h2-font-size;
    margin-bottom: calc(variables.$h-margin-bottom * (1 - .2))+rem;
}

h3, .h3 {
    font-size: variables.$h3-font-size;
    margin-bottom: calc(variables.$h-margin-bottom * (1 - .5))+rem;
}

h4, .h4 {
    font-size: variables.$h4-font-size;
    margin-bottom: calc(variables.$h-margin-bottom * (1 - .8))+rem;
}

h5, .h5 {
    font-size: variables.$h5-font-size;
    margin-bottom: calc(variables.$h-margin-bottom * (1 - .9))+rem;
}

h6, .h6 {
    font-size: variables.$h6-font-size;
    margin-bottom: calc(variables.$h-margin-bottom * (1 - .9))+rem;
}

small {
    font-size: variables.$small-font-size;
}

p {
    margin: 0 0 1em;
}

a {
    color: variables.$base-link-color;
    text-decoration: none;
    transition: color variables.$animation-speed;
    &:hover,
    &:focus {
        color: variables.$base-link-color-hover;
    }
}